page-player-setting
  div.flex.flex-column.h-full
    module-header(title='プレイヤー設定', back='{true}')
    div.h-full.overflow-scroll(ref='body')
      div.container.s-full.p25
        div
          div.text-center プレイヤー数
          div.f.fh
            div(onclick='{decrease}') 左
            div num
            div(onclick='{increase}') 右
          div
            div(each='{player,index in players}')
              div.f.fh
                div 消す
                input(type='text', placeholder=`プレイヤー${index+1}`, onclick='{hoge}') 
                div 名前消す


  script.
    this.items = [
      { label: 'ゲーム設定へ', link: '/game-setting'},
    ];

    this.players = [
      {label: 'プレイヤー'},
      {label: 'プレイヤー'},
      {label: 'プレイヤー'},
    ];


    this.move = (e) => {
      e.preventDefault();
      e.stopPropagation();
      app.routeful.go(e.item.link);
    };

    this.hoge = (e) => {
      console.log(e.item);
    };

